.mav-items{
    
    
    display: flex;
    justify-content: end;
    align-items: center;
}
.link-items{
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: bold;
    margin-right: 1.3rem;
}

.link-items:hover{
    color: #0C984C;
}