.mav-items{
    
    
    display: flex;
    justify-content: end;
    align-items: center;
}
.link-items{
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: bold;
    margin-right: 1.3rem;
}

.link-items:hover{
    color: #0C984C;
}
@media screen and (min-width: 1024px) {
    .navList ul{
        margin-left: 40rem;
    }
    .navbar-brand{
        margin-left: 2rem;
    }
}